<body>
  <div class="toolbar-row">
    <div class="toolbar-row__item">
      <button (click)="appNavigate('catalog')"
              mat-raised-button>
        Каталог товаров
      </button>
      <button (click)="appNavigate('admin')"
              mat-raised-button>
        Панель администратора
      </button>
    </div>
    <div class="toolbar-row__item">
      <button (click)="downloadCodeByExamVariant()"
              color="accent"
              mat-raised-button>
        Скачать архив (Вариант {{ variantNumber }})
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
