:host {
  .dialog {
    padding: 20px;
    min-width: 400px;

    h3 {
      margin: 0 0 20px 0;
      font-size: 20px;
    }

    mat-form-field {
      width: 100%;
    }

    &__actions {
      display: flex;
      justify-content: flex-end;

      button + button {
        margin-left: 10px;
      }
    }
  }
}
